<ion-view title="DashBoard">
<ion-nav-bar class="bar-energized" animation="nav-title-slide-ios7">

<ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  
  
  </ion-nav-bar>


  
  <ion-content class="has-header home-view" has-bouncing="true">
  	<div class="category-view">
  		<div class="inner-category-view">
		  	<div class="category-card category-strength card-a" id="strength-box">
		  		<a href="#/app/home/0">
		  			<div class="category-flex">
			  			<h3>{{'INVENTORY MANAGEMENT' | translate}}</h3>
		  			</div>
		  		</a>
		  	</div>
		  	<div class="category-card category-cardio card-b" id="cardio-box">
		  		<a href="#/app/home/1">
		  			<div class="category-flex">
		  				<h3>{{'SALES & MARKETING' | translate}}</h3>
		  			</div>
		  		</a>
		  	</div>
		  	<div class="category-card category-yoga card-c" id="yoga-box">
		  		<a href="#/app/home/2">
		  			<div class="category-flex">
		  				<h3>{{'PROCUREMENT & SOURCEING' | translate}}</h3>
		  			</div>
		  		</a>
		  	</div>
		  	<div class="category-card category-stretch card-d" id="stretch-box">
		  		<a href="#/app/home/3">
		  			<div class="category-flex">
		  				<h3>{{'FINANCE & REPORTING' | translate}}</h3>
		  			</div>
		  		</a>
		  	</div>
	  	</div>
	  	<div class="category-custom" id="custom-box" >
	  		<a href="#/app/custom">
	  			<div class="category-flex">
	  				<h3>{{'SELECT A COMPANY' | translate}}</h3>
	  				
	  			</div>
	  		</a>
		 </div>
		 
  	</div>
  </ion-content>


</ion-view>
