<ion-side-menus>

  <ion-pane ion-side-menu-content>
    <ion-nav-bar class="bar-stable nav-title-slide-ios7">
      <ion-nav-back-button class="button-clear"><i class="icon ion-ios7-arrow-back"></i> Back</ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
  </ion-pane>

  <ion-side-menu side="left">
    <header class="bar bar-header bar-balanced">
      <h1 class="title">Menu</h1>
    </header>
    <ion-content class="has-header">
      <ion-list>
        <!--<ion-item nav-clear menu-close ng-click="login()">
          Login
        </ion-item>-->
        <!--<ion-item nav-clear menu-close href="#/app/search">
          Search
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/browse">
          Browse
        </ion-item>-->
        <!--<ion-item nav-clear menu-close href="#/app/playlists">
          Playlists
        </ion-item>-->
        <h4 class="title" align="center">HAPPY TRADING SDN BHD</h4>
        <ion-item nav-clear menu-close href="#/app/dashboard">
          <i class="ion-home"></i> DashBoard
        </ion-item>
        <div class="item item-divider">
    		Customer
  		</div>
        <ion-item nav-clear menu-close href="#/app/debtorlist">
         <i class="ion-arrow-left-c"></i> Debtor Listing
        </ion-item>
        <div class="item item-divider">
    		Inventory
  		</div>
         <ion-item nav-clear menu-close href="#/app/itemlist">
          <i class="ion-briefcase"></i> Item Listing
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/item-phe">
          <i class="ion-information-circled"></i> Item Price History  Enquiry
        </ion-item>
        <div class="item item-divider">
    		Options
  		</div>
         <ion-item nav-clear menu-close href="#/app/settings">
          	<i class="ion-settings"></i> Settings
        </ion-item>
         <ion-item nav-clear menu-close href="#/app/aboutus">
          <i class="ion-information-circled"></i> About Us
        </ion-item>
        
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
