<ion-view title="DashBoard">
<ion-nav-bar class="bar-energized" animation="nav-title-slide-ios7">

<ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  </ion-nav-bar>


  
  <ion-content class="has-header">
  <div class="list">
<div class="item item-input-inset">
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <h1 style="text-align:center">Welcome</h1>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
</div>
<h5>Which Server you like to connect to ?</h5>
  
  <div class="item item-input-inset"><span class="blue-text">URL</span>&nbsp;&nbsp;
    <label class="item-input-wrapper">
      <input type="text" placeholder="example : tmcs.no-ip.info:82" ng-blur="onblur();">
    </label>
   
  </div>
  <div class="item item-input-inset">
    
   
  </div>

</div>
  </ion-content>


</ion-view>
